{% extends "index.html"%}
{% load staticfiles %}

{% block title %}工大进行时{% endblock %}

{% block article%}
		{% if user %}
		<form method="post" action='.' id="topicform">
			<label for="id_topic">话题：</label> 
			<input type="text" name="title" id="id_topic" size="60">
			<input type="submit" value="发表">
		</form>
			<label for="id_content">内容：</label> 
			<textarea form="topicform" name="content" rows="20" cols="60"></textarea>

 		{% else %} 
 		<h1>亲!你还没有登陆哦，<a href="/topic/login">猛击这里</a>登陆</h1>
        <h1>还没有账号？快<a href="/topic/register">点击这里</a> 注册吧</h1>
        {% endif %}
 {% endblock %}