{% extends "base.html" %}
{% load staticfiles %}
{% block title%}工大进行时{% endblock %}
{% block article %}
<section>
    {% if query %}
    {% if topic_list %}
    {% else %}
    <p>没有找到与{{query}}相关的话题</p>
    {% endif %}
    {% else %}
    {% if from == 'mytopic'%}
    <p>我的话题</p>
    {% endif %}
    {% endif %}
    {% for topic in topic_list %}
    <article>

        <div class="panel panel-default HIT-panel">
            <div class="HIT-panel">
            <div class="panel-heading"><span class="glyphicon glyphicon-user"> {{topic.author.username}}</span></div>
            <div class="panel-body">
                <table border="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="auto"><a href="/topic/detail/{{topic.id}}">{{topic.title}}</a></td>
                        <td width="60" align="right" valign="middle"><span class="badge">{{topic.comment_num}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-calendar">{{topic.pub_date}}</span>
            </div>
            </div>
    </article>
    {% endfor %}
</section>


{% endblock %}
{% block aside %}
<aside>
    {% if user %}
    <h1>{{user.username}}</h1>
    <ul>
        {% if user.myuser.email %}
        <li><p>邮箱：{{user.myuser.email}}</p></li>
        {% else %}
        <li><p>邮箱：（未知）</p></li>
        {% endif %}
        <li><a href="/topic/create_topic/">我要发表话题</a></li>
        <li><a href="/topic/mytopic/">我的话题({{user.myuser.topic_num}})</a></li>
        <ul>
            {% for topic in user.topic %}
            <li>{{topic}}</li>
            {% endfor %}

        </ul>
    </ul>
    {% else %}
    <div class="sign-up-lead">
        <a href="/topic/register">
            <button class="btn btn-default">现在注册</button>
        </a>

        <p><a href="/topic/login">登录</a>HIT-ing后你可以畅快地与其他用户交流</p>
    </div>
    {% endif %}
</aside>

<h3>热门话题</h3>
<ul>
    {% for topic in hot_topic %}
    <li><a>{{ topic.title }}</a><span style="color:#9D9C9A;">--{{ topic.comment_num }}回复</span></li>
    {% endfor %}
</ul>
{% endblock %}

