<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link rel="stylesheet" href="index.css">
	<title>工大进行时</title>
</head>
<body>

	<header>
		<h1 align="center">HIT-ing</h1>
	</header>
	<section>
		<article>
		<ul>
		<li>话题：<input type="text"></li>
		<Li>内容：<textarea hight="200" width="400"></textarea></Li>
		<li><input type="submit" value="发表"></li>
		</ul>
		</article>
	</section>
    
    <nav>
    <h1>用户名</h1>
    <p>E-mail:xxxx@xxx.com</p>
    <p>话题发表数:888</p>
	<h2>最近评论</h2>
	<ul>
		<li>评论内容。。。</li>
		<li>评论内容。。。</li>
		<li>评论内容。。。</li>
	</ul>
	</nav>

    <footer>
        <h2>页脚</h2>
    </footer>
</body>
</html>