<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>注册</title>
</head>
<body>
	<header>
		<h1 align="center">请输入注册信息</h1>
	</header>
	{% if er_message == "exist" %}
	<p align="center">用户已存在！</p>
	{% else %}
		{% if er_message == "not match" %}
		<p align="center">两次密码输入不一致！</p>
		{% endif %}
	{% endif %}
	<form action="." method="post">
	{% csrf_token %}
	<label for="id_name" align="center">用户名</label>
		<input type="text" name="name" id="id_name">
		<br/>
	<label for="id_password" align="center">密码</label>
		<input type="password" name="password" id="id_password">
		<br/>
	<label for="id_repassword" align="center">再次输入密码</label>
		<input type="password" name="re_password" id="id_repassword">
		<br/>
	<label for="id_email" align="center">邮箱</label>
		<input type="email" name="email" id="id_email">

	<input type="submit" value="提交"> <input type="reset" value="重填">	
	</form>
</body>
</html>