{% extends "index.html"%}
{% load staticfiles %}
{% block article %}
		<header>
                <h1>{{topic.title}}<作者：{{topic.author.username}}></h1>
            </header>
            <p>{{topic.content}}</p>
            <footer>
                <h5>评论（{{topic.comment_num}}）；赞（{{topic.like_num}}）；
                踩（{{topic.dislike_num}}）；{{topic.pub_date}}</h5>
            </footer>
        <section>
			<form method="post" action='.' id="topicform">
				<input type="submit" value="发表">
			</form>
				<label for="id_content">评论内容：</label> 
				<textarea form="topicform" name="content" rows="20" cols="60"></textarea>
		</section>

{% endblock %}
